@{
    ViewData["Title"] = "Naruto";
}

<div class="text-center">
    <h1 class="display-4">Holas</h1>
    <p>
    
    PROBANDO edicion de texto :D

    
    
    
    
    Porfavor vaya hacia "Estudiantes para rellenar la pagina :D"</p>
</div>
